[submodule "foreign/lua52"]
	path = foreign/lua52
	url = https://github.com/lua/lua
	branch = v5-2
[submodule "foreign/lua53"]
	path = foreign/lua53
	url = https://github.com/lua/lua
	branch = v5.3
[submodule "foreign/lua54"]
	path = foreign/lua54
	url = https://github.com/lua/lua
	branch = v5.4
